<div id="app">
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <a href="#" class="navbar-brand">TestWebApp</a>
    <ul class="navbar-nav mr-auto" routerLinkActive="active">
      <li class="nav-item">
        <a href="/home" class="nav-link" routerLink="home">Home </a>
      </li>
      <li class="nav-item">
        <a href="/user" class="nav-link" *ngIf="isLoggedIn" routerLink="user">User</a>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto" *ngIf="!isLoggedIn">
      <li class="nav-item">
        <a href="/register" class="nav-link" routerLink="register">Sign Up</a>
      </li>
      <li class="nav-item">
        <a href="/login" class="nav-link" routerLink="login">Login</a>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto" *ngIf="isLoggedIn">
      <li class="nav-item">
        <a href="/profile" class="nav-link" routerLink="profile">{{ email }}</a>
      </li>
      <li class="nav-item">
        <a href class="nav-link" (click)="logout()">LogOut</a>
      </li>
    </ul>
  </nav>

  <router-outlet></router-outlet>

  <footer role="footer">

    <!-- nav -->

    <nav role="footer-nav">

      <ul>

        <li><a href="index.html" title="Work">Work</a></li>

        <li><a href="about.html" title="About">About</a></li>

        <li><a href="blog.html" title="Blog">Blog</a></li>

        <li><a href="contact.html" title="Contact">Contact</a></li>

      </ul>

    </nav>

    <!-- nav -->

    <ul role="social-icons">

      <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>

      <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>

      <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>

      <li><a href="#"><i class="fa fa-flickr" aria-hidden="true"></i></a></li>

    </ul>

    <p class="copy-right">&copy; 2020 Site.. All rights Resved</p>

  </footer>

</div>
