<div class="container" *ngIf="currentUser; else loggedOut">
  <header class="jumbotron">
  </header>
  <strong>User info:</strong>

  <div *ngFor="let user of currentUser">
  <strong>User first name:</strong>
  <ul>
    <li>
      {{ user.first_name}}
    </li>
  </ul>

  <strong>User last name:</strong>
  <ul>
    <li>
      {{ user.last_name}}
    </li>
  </ul>
  <strong>User phone number:</strong>
  <ul>
    <li>
      {{ user.phone_number}}
    </li>
  </ul>
  <strong>User age:</strong>
  <ul>
    <li>
      {{ user.age}}
    </li>
  </ul>
  <strong>User gender:</strong>
  <ul>
    <li>
      {{ user.gender}}
    </li>
  </ul>
</div>
</div>

<ng-template #loggedOut>
  Please login.
</ng-template>
